.mat-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; /* Oculta a barra de rolagem */
}

.modal-content {
  width: 800px;
  max-width: 90%;
  padding: 30px;
  margin: auto; /* Centraliza verticalmente */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: auto; /* Adiciona rolagem interna, se necessário */
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.form-control {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

.btn {
  margin-right: 18px; /* Add horizontal margin */
}

.container{
  margin-bottom: 6px;
  margin-top: 6px;
  }
