<div class="container">
  <h3 class="tituloModal">Cadastrar Usuário:</h3>
  <div class="form-group">
    <label for="nome">Nome completo</label>
    <input id="nome" class="form-control" type="text" [(ngModel)]="nome">
  </div>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input id="email" class="form-control" type="email" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <label for="senha">Senha</label>
    <input id="senha" class="form-control" type="password" [(ngModel)]="senha">
  </div>
  <div class="form-group">
    <label for="confirmarSenha">Confirme a senha</label>
    <input id="confirmarSenha" class="form-control" type="password" [(ngModel)]="confirmarSenha">
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="cpf">CPF</label>
        <input id="cpf" class="form-control" type="text" [(ngModel)]="cpf">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="dataNascimento">Data de nascimento</label>
        <input id="dataNascimento" class="form-control" type="date" [(ngModel)]="dataNascimento">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="contato">Contato</label>
    <input id="contato" class="form-control" type="text" [(ngModel)]="contato">
  </div>
  <div class="form-group">
    <label for="responsavel1">Responsável</label>
    <input id="responsavel1" class="form-control" type="text" [(ngModel)]="responsavel1">
  </div>
  <div class="form-group" id="papelUsuario">
    <label for="papelUsuario">Papel do Usuário:</label>
    <div>
      <label>
        <input type="radio" name="papelUsuario" [(ngModel)]="papelUsuario" value="ALUNO"> Aluno
      </label>
      <label>
        <input type="radio" name="papelUsuario" [(ngModel)]="papelUsuario" value="GERENTE"> Gerente
      </label>
      <label>
        <input type="radio" name="papelUsuario" [(ngModel)]="papelUsuario" value="ADMIN"> Admin
      </label>
    </div>
  </div>
  <div class="form-group" align="right">
    <button class="btn btn-primary" (click)="handleSalvar()">Salvar</button>
    <button class="btn btn-secondary" (click)="close()">Cancelar</button>
  </div>
</div>
