.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-grey-light-1);

  // padding: 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 31.25em) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}

.logo__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu__button-box {
  margin-right: 1rem;

  & > * {
    padding: 1rem;
    cursor: pointer;
  }

  & > *:hover {
    background-color: var(--color-grey-light-4);
    border-radius: 50%;
  }
}

.menu__icon {
  height: 3.25rem;
}
.logo-icon {
  height: 3.25rem;
}

.logo-name {
  height: 3.25rem;
}

.logout__icon-box {
  & > * {
    padding: 1rem;
    cursor: pointer;
  }

  & > *:hover {
    background-color: var(--color-grey-light-4);
    border-radius: 50%;
  }
}

.logout__icon {
  height: 3rem;
}
