.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  height: 7rem;
  font-size: 1.4rem;
  background-color: var(--color-grey-light-1);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 31.25em) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}

.logo__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu__button-box {
  margin-right: 1rem;
  display: flex;
  align-items: center;

  & > * {
    padding: 1rem;
    cursor: pointer;
  }
}

.menu__icon {
  height: 3.25rem;
  fill: #333;
  transition: 0.4s;
}

.menu-close__icon {
  height: 3.25rem;
  fill: #333;
  transition: 0.4s;
  cursor: pointer;
  margin-right: 2rem;
  margin-left: -2rem;
}

.logout__icon {
  fill: #333;
  transition: 0.4s;
  height: 3rem;
}

.menu__icon:hover,
.menu-close__icon:hover,
.logout__icon:hover {
  fill: #9a7bb3;
}

.logo-icon {
  height: 3.25rem;
}

.logo-name {
  height: 3.25rem;
}

.logout__icon-box {
  & > * {
    padding: 1rem;
    cursor: pointer;
  }
}

.nav__checkbox {
  display: none;
}

.nav__checkbox:checked {
}
.sidebar-closed {
  display: none;
}
