<mat-dialog-content class="modal-body">
  <mat-form-field class="form-group" appearance="fill">
    <input matInput [(ngModel)]="nlu.intentText" placeholder="Insira o intent text" name="intentText">
  </mat-form-field>

  <div *ngFor="let text of nlu.texts; let i = index" class="form-group">
    <mat-form-field appearance="fill">
      <input matInput [placeholder]="'Text ' + (i + 1)" [(ngModel)]="nlu.texts[i]" [name]="'text' + i">
      <mat-icon matSuffix (click)="removeText(i)">remove_circle</mat-icon>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)="addText()">Adicionar Text</button>
</mat-dialog-content>

<mat-dialog-actions class="modal-footer">
  <button mat-button mat-dialog-close class="btn-secondary">Cancelar</button>
  <button mat-raised-button color="primary" (click)="saveNlu()">Salvar</button>
</mat-dialog-actions>
