// Aplique estilos diretamente ao seletor da classe do seu modal, para evitar conflitos globais
.your-modal-class-name {
  .mat-form-field {
    width: 100%; // Isso assegura que o mat-form-field preencha o espaço disponível
    .mat-select {
      width: 100%; // Assegura que o select esteja cheio
    }
  }
}
.mat-select-panel {
  position: fixed !important; // Isso pode corrigir o problema de alinhamento em alguns casos
}
