<div class="bot-flow">
  <header class="header">
    <button class="btn create" (click)="toggleCreateNewData()">CRIAR NOVA PERGUNTA</button>
    <div class="tabs">
      <a class="tab" routerLink="/historia" routerLinkActive="active">DIÁLOGOS</a>
      <a class="tab" routerLink="/nlu" routerLinkActive="active">PERGUNTAS</a>
      <a class="tab" routerLink="/intents" routerLinkActive="active">RESPOSTAS</a>
    </div>
    <input type="text" class="filter" placeholder="Filtrar">
  </header>
  <main class="content">
    <div class="question-list">
      <h6 style="color: #000000; margin-left: 1px;">Pergunta cadastrada</h6>
      <ul>
        <li *ngFor="let data of nluData; let i = index" (click)="selectData(i)">
          <p>{{ data.intentText }}</p>
          <fa-icon [icon]="icons.faReply"></fa-icon>
        </li>
      </ul>
    </div>
    <div class="question-detail" *ngIf="selectedData || creatingNewData">
      <h3 style="margin-bottom: 10px;">Título da pergunta</h3>
      <label for="dataTitle" class="visually-hidden">Título da Pergunta</label>
      <input type="text" id="dataTitle" [(ngModel)]="newData.intentText" placeholder="Título da Pergunta" class="title-input"/>
      <div class="response-container">
        <div *ngFor="let text of newData.texts; let j = index; trackBy:trackByText" class="response-bubble">
          <textarea [(ngModel)]="newData.texts[j]" placeholder="Texto da Pergunta"></textarea>
          <button class="btn remove-bubble" (click)="removeResponseBubble(j)">
            <fa-icon [icon]="icons.faTrash"></fa-icon>
          </button>
        </div>

        <button class="btn add-bubble" (click)="addResponseBubble()">
          <fa-icon [icon]="icons.faPlusCircle" size="2x"></fa-icon>
        </button>
      </div>
      <button class="btn save" (click)="handleSubmitNewData()">SALVAR</button>
    </div>
  </main>
</div>
