<div class="bot-flow">
  <header class="header">
    <button class="btn create">CRIAR NOVO DIÁLOGO</button>
    <div class="tabs">
      <a class="tab" routerLink="/historia" routerLinkActive="active">DIÁLOGOS</a>
      <a class="tab" routerLink="/nlu" routerLinkActive="active">PERGUNTAS</a>
      <a class="tab" routerLink="/intents" routerLinkActive="active">RESPOSTAS</a>
    </div>
    <input type="text" class="filter" placeholder="Filtrar">
  </header>
  <main class="content">

  <div class="container-fluid py-3">
  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title">Perguntas</h5>
            <button class="btn btn-primary" (click)="openModal()">
              <i class="bi bi-plus-lg"></i> Criar perguntas
            </button>
          </div>
          <div *ngFor="let data of nluData" class="mb-3">
            <div class="card bg-light">
              <div class="card-body">
                <h6 class="card-subtitle">{{ data.intentText }}</h6>
                <ul>
                  <li *ngFor="let text of data.texts">{{ text }}</li>
                </ul>
                <div class="text-end">
                  <button class="btn btn-primary" (click)="editNlu(data)">Editar</button>
                  <button class="btn btn-danger" (click)="deleteIntent(data.id)">Deletar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </main>
</div>
