.mat-dialog-container {
  padding: 20px;

  .modal-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .modal-title {
      margin-bottom: 0;
    }

    .close {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: none;
      opacity: 1;
    }
  }

  .modal-body {
    padding-top: 15px;
  }

  .modal-footer {
    padding-top: 15px;
    border-top: 1px solid #e9ecef;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      margin-left: 10px; // Spacing between buttons
    }
  }
}
