.mat-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.modal-content {
  width: 800px;
  max-width: 90%;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.form-control {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}
.input-group + .input-group {
  margin-top: 1rem;
}

.btn-outline-danger {
  margin-left: -1px; // Remover espaço extra entre o input e o botão
}

.bi {
  font-size: 1.25rem; // Ajustar o tamanho dos ícones do botão se necessário
}
