<div class="container mt-3">
  <h3 class="mb-4 text-center">Cadastrar Resposta</h3>
  <form>
    <div class="form-group mb-3">
      <label for="responseName">Nome da Resposta</label>
      <input id="responseName" class="form-control" type="text" [(ngModel)]="name" name="responseName">
    </div>
    <div class="mb-3" *ngFor="let text of texts; let i = index; trackBy: trackByTexts">
      <label class="form-label">Texto {{ i + 1 }}</label>
      <div class="input-group mb-2">
        <input class="form-control" type="text" [(ngModel)]="texts[i]" [name]="'text' + i">
        <button class="btn btn-outline-danger" type="button" (click)="removeText(i)">Remover
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </div>
    <div class="mb-4">
      <button class="btn btn-outline-primary" type="button" (click)="addText()">
        <i class="bi bi-plus-lg"></i> Adicionar Texto
      </button>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-secondary" type="button" (click)="close()">Cancelar</button>
      <button class="btn btn-primary" type="button" (click)="handleSalvar()">Salvar</button>
    </div>
  </form>
</div>
