.side-bar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0; // Ensure it starts below the header
  left: 0;
  bottom: 0;
  opacity: 0;
  width: 0;
  transition:
    width 0.3s ease-in-out,
    opacity 0.3s ease-in-out;

  &.checked {
    opacity: 1;
    width: 25%;

    @media only screen and (max-width: 37.5em) {
      //600
      min-width: 100%;
    }

    @media only screen and (max-width: 56.25em) {
      //900
      width: 40%;
    }

    @media only screen and (max-width: 75em) {
      //1200
      width: 30%;
    }

    @media only screen and (min-width: 112.5em) {
      //1800
      width: 25%;
    }
  }
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 8rem;
  margin-bottom: 3.5rem;
}

.side-nav__item {
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transition:
    transform 0.2s,
    width 0.2s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
}

.side-nav__item:hover::before,
.side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}

.side-nav__item:active::before {
  background-color: var(--color-primary-light);
}

.side-nav__link:link,
.side-nav__link:visited,
.side-nav__link {
  color: var(--color-grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.side-nav__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
  fill: currentColor;
}
