<div class="p-3">
  <div class="p-2 flex items-center justify-between" style="z-index: 99">
    <h3 class="tituloModal font-sans text-3xl">Adicionar novo Diálogo</h3>
    <button class="close-btn" (click)="onClose()">X</button>
  </div>
  <div class="card-body space-y-2 mt-1">
    <form [formGroup]="dialogForm" (ngSubmit)="onSubmit()">
      <input
        formControlName="name"
        class="form-control text-3xl font-sans mt-1 text-zinc-700 py-2"
        placeholder="Nome da nova história"
      />
      <div formArrayName="steps">
        <div
          *ngFor="let step of steps.controls; let i = index"
          [formGroupName]="i"
        >
          <select
            formControlName="intentName"
            class="form-select mt-3 text-2xl"
          >
            <option value="">Selecionar Pergunta</option>
            <option *ngFor="let intent of intents" [value]="intent.name">
              {{ intent.name }}
            </option>
          </select>
          <select
            formControlName="actionText"
            class="form-select mt-3 text-2xl"
          >
            <option value="">Selecionar Resposta</option>
            <option *ngFor="let action of actions" [value]="action.name">
              {{ action.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="flex justify-end mt-3 space-x-3">
        <button
          type="button"
          class="bg-zinc-600 rounded-lg text-zinc-50 text-semibold text-xl py-3 px-4"
          (click)="addStep()"
        >
          Adicionar Passo
        </button>
        <button
          type="submit"
          class="bg-purple-500 rounded-lg text-zinc-50 text-semibold text-xl py-3 px-4 ml-2"
        >
          Salvar Diálogo
        </button>
      </div>
    </form>
  </div>
</div>
