.container {
  max-width: 100%;
  padding: 20px;
}

.dialog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.dialog-card {
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  //   border-radius: 10px;
  overflow: hidden; /* Altere esta linha */
  display: flex;
  flex-direction: column;
}

.card-header {
  background-color: #4c1d95; // Cor escura do sidebar
  color: #f9fafb;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  padding: 20px;
  overflow-y: auto; /* Adiciona a barra de rolagem vertical se necessário */
  max-height: 300px; /* Define a altura máxima do card-body */
}

.form-select,
.form-control {
  margin-top: 10px;
}

.btn-icon {
  display: flex;
  align-items: center;
  background: none;
  border: none;
}

.btn-danger {
  background-color: #dc2626;
  color: #f9fafb;
}

.btn-primary {
  background-color: #0d9488;
  color: #f9fafb;
}

.fas {
  margin-right: 5px;
}
.bot-flow {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;

  .button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px; /* Botao dentro do cargo */
    margin-left: 90px;
  }

  //   .header {
  //     background-color: #343a40; // Cor escura do sidebar
  //     padding: 10px 20px;
  //     display: flex;
  //     align-items: center;
  //     color: white;
  //     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  //     .btn {
  //       background-color: #4caf50;
  //       border: none;
  //       color: white;
  //       padding: 10px 15px;
  //       cursor: pointer;
  //       border-radius: 4px;
  //       text-transform: uppercase;
  //       margin-right: 20px;
  //     }

  // .tabs {
  //   display: flex;
  //   margin-left: auto;

  //   .tab {
  //     padding: 10px 15px;
  //     cursor: pointer;
  //     font-size: 14px;
  //     border-bottom: 3px solid transparent;
  //     color: white;

  //     &.active {
  //       border-bottom: 3px solid #4caf50;
  //       color: #4caf50;
  //     }
  //   }
  // }

  .filter {
    margin-left: 20px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: white;
    color: black;
    width: 200px;
  }
}

.content {
  flex: 1; // Faz com que a content ocupe todo o espaço disponível
  overflow-y: auto; // Adiciona uma barra de rolagem se o conteúdo exceder a altura da área visível
  padding: 20px;
  background-color: #f5f5f5;

  .dialog-list {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: white;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

      li {
        padding: 10px;
        border-bottom: 1px solid #eee;

        .dialog-name {
          font-weight: bold;
          color: #666;

          .icon {
            margin-right: 5px;
          }
        }

        .dialog-items {
          margin-top: 5px;

          span {
            display: inline-block;
            background-color: #e0e0e0;
            padding: 5px;
            margin-right: 5px;
            border-radius: 4px;

            .icon {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
