.content-story {
  margin-top: 7rem;
  height: calc(100vh - 7rem);
}

.modal {
  border: none;
}

.container {
  max-width: 100%;
}

.dialog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.dialog-card {
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-header {
  background-color: rgb(216 180 254);

  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  padding: 20px;
  overflow-y: auto; /* Adiciona a barra de rolagem vertical se necessário */
  max-height: 300px; /* Define a altura máxima do card-body */
}

.form-select,
.form-control {
  margin-top: 10px;
}

.fas {
  margin-right: 5px;
}
.bot-flow {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .filter {
    margin-left: 20px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: white;
    color: black;
    width: 200px;
  }
}

.bot-img {
  width: 3rem;
}
