<div class="content-story bot-flow p-0">
  <header class="header bg-zinc-50">
    <div class="button-group">
      <button
        class="flex justify-center rounded-md bg-purple-600 px-3 py-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600 uppercase"
        (click)="openCreateDialog()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6"
        >
          <path
            fill-rule="evenodd"
            d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
            clip-rule="evenodd"
          />
        </svg>
        <span class="ml-2 text-xl flex items-center">Criar novo diálogo</span>
      </button>
      <!-- <button
        class="flex justify-center rounded-md bg-purple-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600 uppercase"
        (click)="trainModel()"
      >
        <span class="ml-2 text-xl">Treinar</span>
      </button> -->
    </div>
    <div class="tabs flex justify-center my-2">
      <a routerLink="/historia" routerLinkActive="active">
        <span
          class="inline-flex items-center rounded-md bg-purple-300 px-3 py-2 text-2xl text-purple-800 ring-1 ring-inset ring-purple-900/10 hover:bg-purple-800 hover:text-purple-50"
          >Diálogos</span
        ></a
      >

      <a routerLink="/nlu" routerLinkActive="active"
        ><span
          class="inline-flex items-center rounded-md bg-zinc-50 px-3 py-2 text-2xl text-purple-800 ring-1 ring-inset ring-purple-700/10 hover:bg-purple-800 hover:text-purple-50 ml-2"
          >Perguntas</span
        ></a
      >
      <a routerLink="/intents" routerLinkActive="active"
        ><span
          class="inline-flex items-center rounded-md bg-zinc-50 px-3 py-2 text-2xl text-purple-800 ring-1 ring-inset ring-purple-700/10 hover:bg-purple-800 hover:text-purple-50 ml-2"
          >Respostas</span
        ></a
      >
      <button
        [title]="'Clique para visualizar um tutorial'"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-exclamation-circle-fill fa-3x mb-2 me-2 text-warning ms-3"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"
          />
        </svg>
      </button>
      <div
        class="modal fade text-xl border-0 rounded-lg"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Tutorial de diálogos, perguntas e respostas
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="dialogos-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#dialogos"
                    type="button"
                    role="tab"
                    aria-controls="dialogos"
                    aria-selected="true"
                  >
                    <h2>Diálogos</h2>
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="perguntas-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#perguntas"
                    type="button"
                    role="tab"
                    aria-controls="perguntas"
                    aria-selected="false"
                  >
                    <h2>Perguntas</h2>
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="respostas-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#respostas"
                    type="button"
                    role="tab"
                    aria-controls="respostas"
                    aria-selected="false"
                  >
                    <h2>Respostas</h2>
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active pt-2"
                  id="dialogos"
                  role="tabpanel"
                  aria-labelledby="dialogos-tab"
                >
                  <h2 class="pt-4">
                    Aqui você pode visualizar e configurar os diálogos entre o
                    bot e os usuários. Os diálogos são compostos por perguntas e
                    respostas, formando uma interação entre os dois.
                    <br /><br />
                    <b class="mt-2"
                      >Abaixo um exemplo de diálogo entre o Hendrix e o
                      Usuário:</b
                    >
                  </h2>
                  <div class="dialogo-exemplo mt-4">
                    <div class="bot-response mb-3">
                      <img
                        src="assets/images/favicon-32x32.png"
                        class="bot-img h-2 w-2"
                      />
                      <div class="response-text">
                        <h2>Olá! Como posso ajudar você hoje?</h2>
                      </div>
                    </div>
                    <div class="user-response mb-3">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill=""
                        class="bot-img fill-zinc-800"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                          clip-rule="evenodd"
                        />
                      </svg>

                      <div class="response-text">
                        <h2>Quais são seus horários de funcionamento?</h2>
                      </div>
                    </div>
                    <div class="bot-response mb-3">
                      <img
                        src="assets/images/favicon-32x32.png"
                        class="bot-img"
                      />
                      <div class="response-text">
                        <h2>
                          Estamos abertos de segunda a sexta, das 9h às 18h.
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="perguntas"
                  role="tabpanel"
                  aria-labelledby="perguntas-tab"
                >
                  <h2 class="response-text mt-4">
                    Nesta seção, você pode cadastrar as perguntas que o bot pode
                    entender. As perguntas devem ser claras e objetivas para que
                    o bot consiga responder adequadamente. <br /><b
                      >Abaixo exemplos de perguntas que podem vir do usuário e
                      podem ser cadastradas:</b
                    >
                  </h2>

                  <h2 class="response-text pt-4">
                    Quais são seus horários de funcionamento?
                  </h2>
                  <br />
                  <h2 class="response-text pt-4">
                    Como posso rastrear meu pedido?
                  </h2>
                  <br />
                  <h2 class="response-text pt-4">
                    Quais são as formas de pagamento aceitas?
                  </h2>
                </div>

                <div
                  class="tab-pane fade"
                  id="respostas"
                  role="tabpanel"
                  aria-labelledby="respostas-tab"
                >
                  <h2 class="mt-4 response-text">
                    Aqui você pode configurar as respostas que o bot pode dar.
                    As respostas são configuradas com base nas perguntas que os
                    usuários fazem. Você pode adicionar, editar e remover
                    respostas conforme necessário.
                  </h2>

                  <h2 class="response-text">
                    <strong>Pergunta:</strong> Quais são seus horários de
                    funcionamento? <br />
                    <strong>Resposta:</strong> Estamos abertos de segunda a
                    sexta, das 9h às 18h.
                  </h2>
                  <h2 class="response-text">
                    <strong>Pergunta:</strong> Como posso rastrear meu pedido?
                    <br />
                    <strong>Resposta:</strong> Você pode rastrear seu pedido
                    usando o código de rastreamento enviado por email.
                  </h2>
                  <h2 class="response-text">
                    <strong>Pergunta:</strong> Quais são as formas de pagamento
                    aceitas? <br />
                    <strong>Resposta:</strong> Aceitamos cartão de crédito,
                    débito e PayPal.
                  </h2>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Sair
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <br />
    </div>
  </header>
  <main class="content">
    <div class="container mt-3">
      <div class="dialog-card new-dialog-card"></div>
      <div *ngIf="stories.length === 0" class="alert alert-info">
        Nenhuma diálogo encontrado.
      </div>

      <div class="dialog-grid">
        <div
          *ngFor="let story of stories; let i = index"
          class="dialog-card rounded"
        >
          <div class="card-header">
            <h3 class="text-xl font-semibold leading-7 text-zinc-800">
              Diálogo: {{ story.name }}
            </h3>
          </div>
          <div class="card-body">
            <!-- Container Scrollable para perguntas e respostas -->
            <div class="qa-container">
              <!-- Repetição para perguntas e respostas -->
              <div *ngFor="let step of story.steps">
                <div>
                  <label class="text-lg font-medium leading-6 text-gray-900"
                    >Pergunta:</label
                  >
                  <select
                    [(ngModel)]="step.intentName"
                    class="form-select rounded-md border-0 py-1.5 text-zinc-900 shadow-sm ring-1 ring-inset ring-rinc-300 placeholder:text-zinc-500 focus:ring-2 focus:ring-inset focus:ring-purple-600"
                    (change)="updateStory(story.id, story.id)"
                  >
                    <option value="">Selecionar Pergunta</option>
                    <option
                      *ngFor="let intent of intents"
                      [value]="intent.name"
                    >
                      {{ intent.name }}
                    </option>
                  </select>
                </div>
                <div class="mt-1">
                  <label class="text-lg font-medium leading-6 text-gray-900"
                    >Resposta:</label
                  >
                  <select
                    [(ngModel)]="step.actionText"
                    class="form-select rounded-md border-0 py-1.5 text-zinc-900 shadow-sm ring-1 ring-inset ring-rinc-300 placeholder:text-zinc-500 focus:ring-2 focus:ring-inset focus:ring-purple-600"
                    (change)="updateStory(story.id, story.id)"
                  >
                    <option value="">Selecionar Resposta</option>
                    <option
                      *ngFor="let action of actions"
                      [value]="action.name"
                    >
                      {{ action.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Botões de ação -->
            <div
              class="flex flex-row justify-center items-center space-x-4 mt-4"
            >
              <button
                class="rounded bg-teal-600 flex justify-center items-center px-3 py-2 text-lg text-white"
                (click)="openEditDialog(story)"
              >
                Editar
              </button>
              <button
                class="rounded bg-rose-500 flex justify-center items-center px-3 py-2 text-lg text-white"
                (click)="deleteStory(story.id)"
              >
                Deletar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
