/* You can add global styles to this file, and also import other style files */

// If you want to override variables do it here
@import "scss/variables";

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@import "scss/theme";

// Some temp fixes
//@import "fixes";

// If you want to add custom CSS you can put it here.
@import "scss/custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@import "scss/examples";
@import "scss/base";
@import "scss/variables";

// Tailwind CSS
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.mat-mdc-dialog-container .mdc-dialog__surface{
  z-index: 99999;
}
/* Estilo para as imagens do bot e do usuário */
.bot-img, .user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

/* Estilo para a resposta do bot e do usuário */
.response-text {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease-in-out;
}

.bot-response .response-text {
  background-color: #e6f7ff;
  transform: translateX(-100px);
}

.user-response .response-text {
  background-color: #fef3c7;
  transform: translateX(100px);
}

/* Animações */
.dialogo-exemplo .bot-response .response-text,
.dialogo-exemplo .user-response .response-text {
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

/* Estilo adicional para hover */
.bot-img:hover, .user-img:hover {
  transform: scale(1.1);
}


